@use "../mixins/responsive.scss" as *;
@use "../mixins/hover.scss" as *;
.button {
  background-color: transparent;
  border: 1px solid color var(--pink);

  border-radius: 100px;
  font-family: "Open Sans", sans-serif;

  &--stroke {
    color: var(--pink);
    font-size: 9.41px;
    font-weight: 400;
    padding: 8px 17px;

    @include responsive(laptop) {
      font-size: 16px;
      line-height: auto;
      @include hover {
        color: var(--pink-hover);
        border: 1px solid color var(--pink-hover);
      }
    }
  }

  &--fill {
    color: white;
    background-color: var(--pink);
    font-size: 12px;
    font-weight: 700;
    padding: 11px 39px;

    @include responsive(laptop) {
      font-size: 20px;
      line-height: 30px;

      @include hover {
        background-color: var(--pink-hover);
      }
    }
  }
}
