@use "../mixins/responsive.scss" as *;
.form {
  margin-bottom: 16px;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-bottom: 104px;
    @include responsive(laptop) {
    }
  }
}
