@use "../mixins/responsive.scss" as *;
.grow {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 200px;
  background-color: var(--blue);

  @include responsive(laptop) {
    text-align: left;
    flex-direction: row;
    gap: 120px;
  }

  &__image {
    width: 280px;
    align-items: center;
    margin-bottom: 40px;

    @include responsive(laptop) {
      width: 560px;
    }
  }

  &__container {
    @include responsive(laptop) {
      text-align: left;
    }
  }
}
