@use "../mixins/responsive.scss" as *;
.header {
  &__logo {
    width: 96px;
    height: 16px;
    @include responsive(laptop) {
      width: 240px;
      height: 38px;
    }
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    padding: 24px 24px 0 24px;
    margin-bottom: 112px;
  }

  &__start {
    text-align: center;
    padding: 0 40px 0 39px;
    margin-bottom: 120px;

    @include responsive(laptop) {
      padding: 0 212px 0 211px;
    }
  }

  &__image {
    margin-top: 115px;
  }
}
