@use "../mixins/responsive.scss" as *;
.text {
  margin-top: 0;
  font-family: "Open Sans", sans-serif;

  &--header {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 48px;
    color: var(--blue-dark);
    @include responsive(laptop) {
      font-size: 20px;
      padding: 0 109px 0 109px;
      line-height: 30px;
    }
  }
  &--bold {
    font-weight: 700;
    line-height: 91.4px;
    font-size: 60.95px;
    margin: 0;
    margin-bottom: 0.57px;

    @include responsive(laptop) {
      font-size: 96px;
      line-height: 144px;
    }
  }

  &--grey {
    font-weight: 400;
    line-height: 22, 9px;
    font-size: 15.24px;
    margin: 0;
    color: var(--grey);

    @include responsive(laptop) {
      font-size: 24px;
      line-height: 36px;
    }
  }

  &--info {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--blue-dark);
    margin: 0;
    padding: 0 28px 0 28px;

    @include responsive(laptop) {
      font-size: 16px;
      line-height: 24px;
    }
  }
  &--grow {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--blue-dark);
    margin: 0;
    padding: 0 28px 0 28px;
    @include responsive(laptop) {
      font-size: 16px;
      line-height: 24px;
      padding: 0;
    }
  }

  &--form {
    color: white;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 32px;
  }

  &--logo {
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 40px;
  }
}
